@{
    ViewBag.Title = "Countries List";
    //Layout = "Your Layout Page goes here";
}

<h2>Countries List</h2>
<ul>
@foreach (string strCountry in ViewBag.Countries)
    {
    <li>@strCountry</li>
    }


   </ul>
